.fondo{
    background: burlywood;  

}

.portada{
    background-image: url(/images/Portada.png);
  
}

.imagen {
    background-image: url(/images/Portada.png);
    background-size: 100% 100%;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100%;
    height: 1000px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}